<div class="card">
  <div class="card-header">
    <h4>Lesson Content</h4>
    <div class="card-header-action">
      <!--       <button
        pButton
        type="button"
        icon="pi pi-save"
        class="p-button-sm"
        style="width: 48px; height: 48px"
      ></button> -->
      <!--       <button
        pButton
        pRipple
        class="p-button-raised p-button-text"
        class="p-button-outlined"
        placement="bottom"
        ngbTooltip="Save lesson content"
        [disabled]="!lessonTopicForm.dirty && lessonTopicForm.valid"
      >
        <span
          ><img
            src="../../../assets//images/save-icon.png"
            style="width: 32px; height: 32px; margin: 2px"
        /></span>
      </button> -->

      <button
        pButton
        pRipple
        icon="pi pi-save"
        type="button"
        label="Save All"
        placement="bottom"
        ngbTooltip="Save lesson content"
        class="p-button-lg p-button-success m-2"
        [disabled]="!lessonTopicForm.dirty && lessonTopicForm.valid"
      ></button>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="lessonTopicForm">
      <div class="row">
        <div class="col-12 mb-2">
          <button
            pButton
            pRipple
            icon="pi pi-plus"
            type="button"
            label="Add Topic"
            class="p-button"
            (click)="addNewLessonTopic()"
            placement="bottom"
            ngbTooltip="Add new lesson topic"
          ></button>
        </div>
      </div>
      <div formArrayName="lessonTopics">
        <div
          class="row mb-2"
          *ngFor="
            let lessonTopic of lessonTopics()?.controls;
            let topicIndex = index
          "
        >
          <div class="col-12" [formGroupName]="topicIndex">
            <p-panel [toggleable]="true">
              <ng-template pTemplate="header">
                <!--                 <button
                  pButton
                  pRipple
                  class="p-panel-header-icon p-link"
                  icon="pi pi-plus"
                  placement="top"
                  ngbTooltip="Add new topic"
                ></button> -->
                <!--                 <button
                  pRipple
                  type="button"
                  class="btn btn-primary btn-sm me-1"
                  placement="top"
                  ngbTooltip="Add new topic"
                >
                  Small button
                </button> -->

                <!--                 <button class="btn btn-icon btn-info btn-sm me-1">
                  <i class="fas fa-info-circle"></i>
                </button> -->

                <p-button
                  label="Add Lecture"
                  icon="fa fa-plus"
                  styleClass="p-button-sm"
                  (click)="addNewLecture(topicIndex)"
                  placement="bottom"
                  ngbTooltip="Add new lecture"
                ></p-button>

                <label *ngIf="!lessonTopic.get('editable').value">{{
                  lessonTopic.get("name").value
                }}</label>
                <input
                  type="text"
                  class="form-control"
                  style="width: 60%"
                  formControlName="name"
                  *ngIf="lessonTopic.get('editable').value"
                />
              </ng-template>
              <ng-template pTemplate="icons">
                <!--                 <button
                  pButton
                  pRipple
                  class="p-panel-header-icon p-link"
                  icon="pi pi-plus"
                  placement="top"
                  ngbTooltip="Add new topic"
                ></button> -->
                <button
                  pButton
                  pRipple
                  class="p-panel-header-icon p-link"
                  icon="fa fa-save"
                  *ngIf="lessonTopic.get('editable').value"
                  (click)="saveLessonTopic(lessonTopic)"
                  placement="top"
                  ngbTooltip="Save topic header"
                ></button>
                <button
                  pButton
                  pRipple
                  class="p-panel-header-icon p-link"
                  icon="pi pi-pencil"
                  (click)="editLessonTopic(lessonTopic)"
                  *ngIf="!lessonTopic.get('editable').value"
                  placement="top"
                  ngbTooltip="Edit topic header"
                ></button>
                <button
                  pButton
                  pRipple
                  class="p-panel-header-icon p-link"
                  icon="fa fa-times"
                  placement="top"
                  ngbTooltip="Delete topic"
                  (click)="onDeleteLessonTopic(topicIndex, lessonTopic)"
                ></button>
              </ng-template>
              <div formArrayName="lessonLectures">
                <div
                  *ngFor="
                    let lecture of lessonLectures(topicIndex)?.controls;
                    let lectureIndex = index
                  "
                >
                  <div style="margin-top: 10px" [formGroupName]="lectureIndex">
                    <p-panel [toggleable]="true" class="mt-5">
                      <ng-template pTemplate="header">
                        <p-button
                          [label]="
                            lecture.get('content').value
                              ? 'Edit Content'
                              : 'Add Content'
                          "
                          [icon]="
                            lecture.get('content').value
                              ? 'pi pi-pencil'
                              : 'fa fa-plus'
                          "
                          styleClass="p-button-sm"
                          (click)="showModalDialog(topicIndex, lectureIndex)"
                          ngbTooltip="Add lecture content"
                        ></p-button>

                        <label *ngIf="!lecture.get('editable').value">
                          {{ lecture.get("name").value }}</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          style="width: 60%"
                          formControlName="name"
                          *ngIf="lecture.get('editable').value"
                        />
                      </ng-template>
                      <ng-template pTemplate="icons">
                        <button
                          pButton
                          pRipple
                          class="p-panel-header-icon p-link"
                          icon="fa fa-save"
                          *ngIf="lecture.get('editable').value"
                          (click)="saveLectureTitle(lecture)"
                          placement="top"
                          ngbTooltip="Save topic header"
                        ></button>

                        <button
                          pButton
                          pRipple
                          class="p-panel-header-icon p-link"
                          icon="pi pi-pencil"
                          (click)="editLectureTitle(lecture)"
                          *ngIf="!lecture.get('editable').value"
                          placement="top"
                          ngbTooltip="Edit lecture header"
                        ></button>

                        <button
                          pButton
                          pRipple
                          class="p-panel-header-icon p-link"
                          icon="fa fa-times"
                          (click)="
                            onDeleteLessonLecture(
                              topicIndex,
                              lectureIndex,
                              lecture
                            )
                          "
                        ></button>
                      </ng-template>

                      <div class="row">
                        <div
                          class="col-12"
                          *ngIf="
                            (lecture.get('contentType').value == 1 ||
                              lecture.get('contentType').value == 2) &&
                            !lecture.get('content').value
                          "
                        >
                          <div class="row">
                            <div
                              class="col-12"
                              *ngIf="!lecture.get('isuploading').value"
                            >
                              <div class="content-section implementation">
                                <p-fileUpload
                                  #fubauto
                                  mode="basic"
                                  name="demo[]"
                                  [accept]="
                                    lecture.get('contentType').value == 1
                                      ? 'video/*'
                                      : 'audio/*'
                                  "
                                  chooseIcon="pi pi-upload"
                                  customUpload="true"
                                  (uploadHandler)="
                                    onBasicUploadAuto($event, lecture)
                                  "
                                  [auto]="true"
                                  chooseLabel="Browse"
                                ></p-fileUpload>
                              </div>
                            </div>
                            <div
                              class="col-12 mt-2 p-4"
                              *ngIf="lecture.get('isuploading').value"
                            >
                              <p-progressBar
                                [value]="lecture.get('uploadPrecentage').value"
                              ></p-progressBar>
                            </div>
                          </div>
                        </div>

                        <div
                          class="col-12"
                          *ngIf="lecture.get('content').value"
                        >
                          <vg-player
                            *ngIf="
                              (lecture.get('contentType').value == 1 ||
                                lecture.get('contentType').value == 2) &&
                              lecture.get('content').value
                            "
                          >
                            <video width="100%" height="320" controls
                            >
                              <source
                                [src]="lecture.get('content').value"
                                [type]="lecture.get('mimeType').value"
                              />
                            </video>
                          </vg-player>
                        </div>
                      </div>

                      <div
                        class="row"
                        *ngIf="lecture.get('contentType').value == 3"
                      >
                        <div class="col-12">
                          <div class="row">
                            <div class="col-12">
                              <p-editor
                                formControlName="content"
                                [style]="{ height: '320px' }"
                              ></p-editor>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div
                        class="row"
                        *ngIf="lecture.get('contentType').value == 4"
                      >
                        <div class="col-12">
                          <div class="row mb-3">
                            <div class="col-12">
                              <label for="txtYoutubeLink" class="form-label"
                                >Youtube Video Link</label
                              >
                              <input
                                type="url"
                                class="form-control"
                                formControlName="content"
                                id="txtYoutubeLink"
                              />
                            </div>
                          </div>
                          <div>
                            <div
                              class="col-12"
                              *ngIf="lecture.get('youtubeLink').value"
                            >
                              <iframe
                                width="100%"
                                height="315"
                                [src]="lecture.get('youtubeLink').value"
                                frameborder="0"
                                allowfullscreen
                              ></iframe>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div
                        class="btn-toolbar"
                        role="toolbar"
                        aria-label="Toolbar with button groups"
                        *ngIf="
                          lecture.get('content').value ||
                          lecture.get('contentType').value == 3 ||
                          lecture.get('contentType').value == 4
                        "
                      >
                        <div
                          class="btn-group mr-2"
                          role="group"
                          aria-label="First group"
                          *ngIf="
                            lecture.get('contentType').value == 3 ||
                            lecture.get('contentType').value == 4
                          "
                        >
                          <button
                            pButton
                            pRipple
                            icon="pi pi-save"
                            type="button"
                            label="Save"
                            (click)="saveLessonLectureContent(lecture)"
                            class="p-button-sm p-button-success m-2"
                          ></button>
                        </div>
                        <div
                          class="btn-group mr-2"
                          role="group"
                          aria-label="Second group"
                        >
                          <button
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-times"
                            label="Delete"
                            class="p-button-sm p-button-danger m-2"
                            (click)="onDeleteLessonLectureContent(lecture)"
                          ></button>
                        </div>
                      </div>
                    </p-panel>
                  </div>
                </div>
              </div>
            </p-panel>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<p-dialog
  header="Lecture Content Type"
  style="text-align: center !important"
  [(visible)]="displayBasic"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <div class="container"></div>
  <div class="row p-2">
    <div
      class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-2"
      style="min-width: 150px"
      (click)="setContentType(1)"
    >
      <div
        class="card text-center custome-tile"
        style="border-style: solid; border-width: 1px; border-color: dimgrey"
      >
        <div class="card-body">
          <h5 class="card-title">Video</h5>
          <div class="card-text">
            <img
              class="card-img-top"
              style="height: 64px; width: 64px"
              src="../../../assets/images/content_types/video.png"
              alt="Card image cap"
            />
          </div>
          <!--           <a href="#" class="btn btn-primary">Select</a> -->
        </div>
      </div>
    </div>

    <div
      class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-2"
      style="min-width: 150px"
      (click)="setContentType(2)"
    >
      <div
        class="card text-center custome-tile"
        style="border-style: solid; border-width: 1px; border-color: dimgrey"
      >
        <div class="card-body">
          <h5 class="card-title">Audio</h5>
          <div class="card-text">
            <img
              class="card-img-top"
              style="height: 64px; width: 64px"
              src="../../../assets/images/content_types/audio.png"
              alt="Card image cap"
            />
          </div>
          <!--           <a href="#" class="btn btn-primary">Select</a> -->
        </div>
      </div>
    </div>

    <div
      class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-2"
      style="min-width: 150px"
      (click)="setContentType(3)"
    >
      <div
        class="card text-center custome-tile"
        style="border-style: solid; border-width: 1px; border-color: dimgrey"
      >
        <div class="card-body">
          <h5 class="card-title">Text</h5>
          <div class="card-text">
            <img
              class="card-img-top"
              style="height: 64px; width: 64px"
              src="../../../assets/images/content_types/text.png"
              alt="Card image cap"
            />
          </div>
          <!--           <a href="#" class="btn btn-primary">Select</a> -->
        </div>
      </div>
    </div>

    <div
      class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-2"
      style="min-width: 150px"
      (click)="setContentType(4)"
    >
      <div
        class="card text-center custome-tile"
        style="border-style: solid; border-width: 1px; border-color: dimgrey"
      >
        <div class="card-body">
          <h5 class="card-title">Youtube</h5>
          <div class="card-text">
            <img
              class="card-img-top"
              style="height: 64px; width: 64px"
              src="../../../assets/images/content_types/youtube.png"
              alt="Card image cap"
            />
          </div>
          <!--           <a href="#" class="btn btn-primary">Select</a> -->
        </div>
      </div>
    </div>
  </div>
  <!--   <ng-template pTemplate="footer">
<p-button
icon="pi pi-check"
(click)="displayBasic = false"
label="Yes"
styleClass="p-button-text"
></p-button>
<p-button
icon="pi pi-times"
(click)="displayBasic = false"
label="No"
></p-button>
</ng-template> -->
</p-dialog>
